body {
	text-align: center;
}

/*h1 {
	margin-bottom:0;
}
*/
#stats {
	margin-bottom: 1em;
}

#gameboard {
	width:90%;
	max-width:33em;
	max-height:33em;
	margin: 0 auto;
	clear:both;
}

h3 {
	display:inline;
}

div {
	width:10em;
	height:10em;
	display: inline-block;
	margin:-2px;
}

div.corner {
	border-style: none solid solid none;
}

div.horizontal {
	border-bottom-style:solid;
}

div.vertical {
	border-right-style:solid;
}

div#currentPlayer {
	width:2em;
	height:2em;
	/*background-image:url('images/circle.png');*/
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
	margin-bottom:-10px;
}

div.center {
	width:6em;
	height:6em;
	/*background-image:url('images/circle.png');*/
	margin-top: 2em;
	background-repeat:no-repeat;
}


div.center.cross, div#currentPlayer.cross {
	background-image:url('images/x.png');
}

div.center.circle, div#currentPlayer.circle {
	background-image:url('images/circle.png');
}

button {
	margin-top: 5em;
}