/*general spacing*/
body {
	text-align: center;
	font-family: 'Oswald', san-serif;
}

h3 {
	display:inline;
}

div, p {
	width:10em;
	height:10em;
	display: inline-block;
	margin:-2px;
}

button {
	margin: 5em 2em 0 2em;
	background-color: transparent;
}

#title {
	font-size: 3em;
	display: inline-block;
}

#stats, #message, #score{
	margin-bottom: 1em;
}

#secondText, #firstText {
	width: auto;
}

#message {
	height: 27px;
}


/*making the game board*/
#gameboard {
	width:90%;
	max-width:33em;
	max-height:33em;
	margin: 0 auto;
	clear:both;
}

div.corner {
	border-style: none solid solid none;
}

div.horizontal {
	border-bottom-style:solid;
}

div.vertical {
	border-right-style:solid;
}

/*stats*/
div#currentPlayer, div#winningPlayer {
	width:2em;
	height:2em;
	/*background-image:url('images/circle.png');*/
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
	margin-bottom:-10px;
}

/*image container*/
div.center {
	width:6em;
	height:6em;
	/*background-image:url('images/circle.png');*/
	margin-top: 2em;
	background-repeat:no-repeat;
}

/*classes for allowing images to appear when clicked on*/
.cross {
	background-image:url('images/x.png');
}

.circle {
	background-image:url('images/circle.png');
}

/*hiding elements to swap stats for message*/
.hidden {
	display:none;
}

/*classes for dark button functionality*/
body.dark{
	background-color:rgba(0,0,5,.9);
	color: white;
}
div.center.dark, div#currentPlayer.dark, div#winningPlayer.dark, div#player1.dark, div#player2.dark, #x.dark {
	background-image:url('images/xyellow.png');
}

button.dark {
	color: white;
}

/*positioning of the scores*/
#player1{
	float:left;
	margin-left: 20%;
}

#player2{
	float:right;
	margin-right:20%;
}

#p1score {
	float:left;
	width:auto;
	height:auto;
}

#p2score{
	float:right;
	width:auto;
	height:auto;
}

#player1, #player2 {
	height: 2em;
	width: 2em;
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
}

#colon1, #colon2{
	position:relative;
	width:auto;
	height:auto;
	top: 0.2em;
}

#p1score, #p2score {
	position:relative;
	top: 0.2em;
	font-family: sans-serif;
	font-size: 1.3em;
}

#colon1, #p1score {
	left:1.2em;
}

#colon2, #p2score {
	right:1.2em;
}

/*making the webpage scalable*/
#left, #right {
	max-width:20em;
	max-height:1em;
}

#left {
	float:left;
}

#right {
	float:right;
}

#content {
	min-width: 50em;
}

/*choice window*/
#choice {
	text-align:center;
}

#choiceMessage {
	width: 100%;
	height: 1em;
}

#x.cross {
	background-image:url('images/x.png');
}

#o {
	background-image:url('images/circle.png');
}

#x, #o {
	height: 6em;
	width: 6em;
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center;
}